@tailwind base;
@tailwind components;
@tailwind utilities;

/* .navbar {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
  align-items: center;
} */